[Desktop Entry]
Name=7ZipGUI
Comment=7-Zip benzeri arşivleme arayüzü
Exec=python3 /usr/share/7zipgui/7zip_GUI.py
Icon=7zlogo.png
Terminal=false
Type=Application
Categories=Utility;Archiving;
StartupNotify=true

